@font-face {
	font-family: 'futura medium bt';
	src: url('../fonts/futura medium bt.ttf');
}
@font-face {
	font-family: 'futura condensed';
	src: url('../fonts/Futura Condensed Extra Bold.otf');
}
@font-face {
	font-family: 'scala sans';
	src: url('../fonts/ScalaSans-Regular.otf');
}
html,
body,
.hambuerguerContainer {
	overflow-x: hidden;
	overflow-y: scroll;
}
.hambuerguerContainer {
	overflow-x: hidden;
	overflow-y: visible;
	position: relative;
	min-height: 500px;
}
body {
	font-family: 'scala sans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section p {
	font-size: 1.25rem;
}

.btn,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'futura medium bt';
	font-weight: 500;
}
/*****hamburguer menu ******/

html,
body,
.full-menu {
	width: 100%;
	height: 100%;
}
.navbar .nav-link {
	font-size: 22px;
}
.navbar .container-fluid {
	margin: 0px 80px;
}
.iconsDisplay,
.iconsHide {
	transition: all 400ms ease-in-out;
}
.iconsHide {
	opacity: 0;
}
.iconsDisplay {
	opacity: 1;
}
.full-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: #1e88e5;
	opacity: 0.5;
	transform: translateX(100%);
	transition: all 100ms ease-in;
	height: 100vh;
}
.full-menu li {
	font-size: 4em;
	color: #fff;
	opacity: 0;
	transform: translateY(2%);
	transition: all 300ms ease-in;
	cursor: pointer;
	text-align: center;
}
.full-menu li:after {
	content: '';
	position: absolute;
	height: 5px;
	width: 0%;
	left: 0;
	bottom: 0;
	background-color: #fff;
	transition: width 200ms ease-in;
}
.full-menu li:hover:after {
	width: 100%;
}
.full-menu ul {
	list-style: none;
}
.full-menu.active {
	transform: translateX(0%);
	opacity: 1;
	z-index: 1;
}
.full-menu.active .home {
	transition-delay: 0.3s;
}
.full-menu.active .about {
	transition-delay: 0.4s;
	width: 85%;
	margin: auto;
}
.full-menu.active .works {
	transition-delay: 0.5s;
	width: 70%;
	margin: auto;
}
.full-menu.active .gallery {
	transition-delay: 0.6s;
	width: 85%;
	margin: auto;
}
.full-menu.active .contact {
	transition-delay: 0.6s;
}
.full-menu.active li {
	opacity: 1;
	transform: translateX(0%);
}

.hamburguer {
	width: 2em;
	height: 2em;
	z-index: 1;
	cursor: pointer;
}

.lines {
	background-color: #fff;
	width: 100%;
	height: 4px;
	margin: 4px 0;
	transition: all 450ms ease-in;
}

.close-hamburguer .lines {
	cursor: pointer;
}
.close-hamburguer .line-top {
	transform: translateY(200%) rotate(45deg);
}
.close-hamburguer .line-mid {
	opacity: 0;
}
.close-hamburguer .line-bottom {
	transform: translateY(-200%) rotate(135deg);
}
/********/

.nav-link,
.nav-link:hover {
	color: white !important;
}
#socialResponsive a.nav-link:hover i {
	color: white !important;
}

.headerContent {
	width: 400px;
}

.section-title {
	font-family: 'futura medium bt';
	font-weight: 500;
	font-size: 35px;
	margin-top: 50px;
}

.colorText {
	color: #5793d3;
}
.headerContent p {
	text-transform: uppercase;
}
.bg-cover,
.masthead {
	height: calc(100vh + 16px);
}
.bg-cover {
	background: url('../img/img-principal.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -89px;
}

.meText .btn {
	width: 142px;
	box-shadow: none;
}

.btns-wrapper {
	margin-top: 70px;
}

.header img {
	width: 100%;
	height: auto;
}

.masthead {
	background: rgba(0, 0, 0, 0.69);
	background: -moz-linear-gradient(
		left,
		rgba(0, 0, 0, 0.69) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -webkit-gradient(
		left top,
		right top,
		color-stop(0%, rgba(0, 0, 0, 0.69)),
		color-stop(100%, rgba(0, 0, 0, 0))
	);
	background: -webkit-linear-gradient(
		left,
		rgba(0, 0, 0, 0.69) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -o-linear-gradient(
		left,
		rgba(0, 0, 0, 0.69) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -ms-linear-gradient(
		left,
		rgba(0, 0, 0, 0.69) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.69) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	z-index: 0;
}
.section {
	margin-top: 80px;
}
.bg-sobre-mi,
.headerContainer {
	min-height: 560px !important;
}
.headerContainer {
	padding-top: calc(3rem + 74px) !important;
}

.diptico {
	min-height: 700px;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.btn-transparent {
	margin-top: 50%;
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-color: black;
	padding: 10px 70px;
	color: black;
	font-size: 20px;
	width: 212px;
}

.btn-transparent:hover {
	color: white;
	background-color: #5793d3;
}
.me {
	padding-top: 70px;
}
.me,
.galleryIndex {
	min-height: 700px;
}
.bg-modelo {
	min-height: 500px;
	margin-top: -94px;
}

.video-sobre-mi {
	width: 200px;
	height: 450px;
	object-fit: cover;
}
.polaroidContainer {
	width: 80%;
	transform: rotate(-10deg);
	box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
	border: 4px;
	border-color: #ffffff;
	padding: 20px 20px 60px 20px;
}

.contacto {
	min-height: 75vh;
	height: auto;
}
.contactoBg {
	background-repeat: no-repeat;
	background-size: auto 130%;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 8%,
			rgba(255, 255, 255, 1) 39%
		),
		url('../img/img-footer.jpg');
}

/*  */
.footer-contacto {
	height: 25vh;
}

.footer-contacto img {
	width: auto;
	height: 90px;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
	font-size: 1.2em;
}
.bg-actress .headerContainer {
	min-height: 530px !important;
}
.reelBtnContainer {
	margin-top: -30px;
	z-index: 2;
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-enviar {
	padding: 10px 50px;
	background-color: #ffffff;
	-webkit-box-shadow: 3px 5px 14px -2px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: 3px 5px 14px -2px rgba(0, 0, 0, 0.53);
	box-shadow: 3px 5px 14px -2px rgba(0, 0, 0, 0.53);
}

.wrapper {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* h2{
	font-family:sans-serif;
	color:#fff;
  } */
.carousel,
.galeria {
	width: 90%;
	margin: 0px auto;
}
.slick-slide {
	margin: 10px;
}
.slick-slide img {
	width: 100%;
	border: 2px solid #fff;
}

.slick-prev:before,
.slick-next:before {
	color: #ccc !important;
}
.slideBg1,
.slideBg2,
.slideBg3,
.slideBg4,
.slideBg5,
.slideBg6 {
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
	height: 500px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex !important;
	flex-direction: column;
	justify-content: flex-end;
	border: 1px #ccc solid;
}
.slideBg1 {
	background-position: top;
	background-image: url('../img/lookbooks/lookbooks15.jpg');
}
.slideBg2 {
	background-image: url('../img/catalogo/catalogo6.jpg');
}
.slideBg3 {
	background-position: center;
	background-image: url('../img/editoriales/editoriales7.jpg');
}
.slideBg4 {
	background-position: center;
	background-image: url('../img/editoriales/editoriales10.jpg');
}
.slideBg5 {
	background-position: center;
	background-image: url('../img/venta-online/venta-online2.jpg');
}

.sliderText {
	margin-bottom: 0;
	width: 100%;
	padding: 20px 0;
	background: rgba(255, 255, 255, 1);
	font-size: 18px;
	color: #606060;
}

/* SOBRE MI */

.txt-sobre-mi {
	text-transform: uppercase;
	font-family: 'futura medium bt';
	letter-spacing: 4px;
	color: #1f1d1c;
	font-size: 18px;
}

.vh-70 {
	height: 70vh;
}

.sobre-mi-frase {
	font-family: 'futura condensed';
	letter-spacing: 2px;
}

.bg-sobre-mi {
	background-image: url('../img/img-bio.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -250px;
	height: calc(100vh - 200px);
	margin-top: -94px;
}
.section-actriz {
	padding-top: 50px;
}
@media (max-width: 1200px) {
	.me .container {
		max-width: 90%;
	}
	.polaroidContainer {
	}
	.video-sobre-mi {
		height: 350px;
	}
}
@media (max-width: 1090px) {
	.bg-sobre-mi {
		background-position: 0px -120px;
	}
	.headerContent img {
		width: 370px;
		margin-top: 50px;
		margin-left: -20px;
	}
	.bg-galeria .headerContent img,
	.bg-actress img {
		margin-left: 0;
	}
}

/* MODELO*/

.bg-modelo {
	background-image: url('../img/img-modelo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 70vh;
}

.header-sector {
	font-size: 30px;
	margin-top: 35px;
}

.section-botonera {
	background-color: rgba(78, 128, 185, 0.1);
	padding: 30px 0;
}

hr {
	border-top: 1px solid #1f1d1c;
	margin-top: 60px;
	margin-bottom: 60px;
}

.botonera-modelo .btn {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 30px;
	box-shadow: none;
	border: 1.2px solid #2e8fff;
	width: 100%;
	font-size: 14px;
	background-color: #ffffff;
}

.trabajos-modelo .job-title {
	color: #5793d3;
}

.trabajos-modelo .job-desc {
	display: inline-block;
	line-height: 1.2;
	font-size: 12px;
}

/* Carousel de marcas */

.marcaimg {
	/* height: 230px; */
	width: auto;
}
.marcas-wrapper .slick-dots {
	text-align: left;
}

/* FOOTER COMPARTIDO */
.btn-vermas {
	background-color: #5793d3;
	color: white;
	margin-top: 30px;
	margin-bottom: 35px;
}
.btn-vermasMarcas {
	background-color: #5793d3;
	color: white;
	padding-left: 40px;
	padding-right: 40px;
	position: absolute;
	top: 135px;
	right: 0;
}

.btn-vermas:hover,
.btn-vermasMarcas:hover {
	color: white;
}

.aboutMe h2 {
	text-transform: uppercase;
	color: rgba(78, 128, 185, 0.5);
	font-size: 53px;
}
.barTitle {
	margin-right: 10px;
	width: 25px;
	border-top: 1px #000 solid;
	margin-top: 13px;
}
.highlightText {
	color: #4e80b9;
	font-weight: 550;
}
.verticalText {
	justify-content: flex-start;
	display: flex;
}

.verticalText h3 {
	letter-spacing: 7px;
	text-transform: uppercase;
	font-size: 35px;
	margin-bottom: 0px;
	transform: rotate(-90deg);
	margin-top: 120px;
	margin-left: 80px;
}

.cineImg {
	width: 100%;
	height: auto;
}
.galleryContainer {
	margin-top: 50px;
}
.bgGrey {
	background: #e8e8e8;
}

.py-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.py-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.py-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.py-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.text-grey {
	color: rgba(31, 29, 28, 0.6);
}
.headerActressContainer {
	min-height: 550px;
	margin-top: -94px;
}
.bg-actress {
	height: 70vh;
	min-height: 500px;
	position: relative;
	overflow: hidden;
}
.headerActressContainer button {
	font-size: 2em;
	padding: 10px 40px;
}
.bg-actress button {
	z-index: 100;
	position: absolute;
}
.videoActress {
	position: absolute;
	min-width: 100%;
}
.headerContainer button {
	margin-top: 60px;
	font-size: 2em;
	padding: 10px 40px;
}
.singularVideo video,
.singularVideo h3 {
	width: 50%;
	padding: 30px 20px;
}
.footerName {
	width: 350px;
	padding-top: 20px;
}
.social {
	margin-top: -30px;
	justify-content: space-between;
}

.social-iconos a:hover i {
	color: #5793d3;
}

.textAboutMe {
	max-width: 1100px;
	padding-top: 50px;
}
@media (max-width: 1023px) {
	.btn-vermasMarcas {
		top: 160px;
	}
}
@media (max-width: 1199px) and (min-width: 991px) {
	.botonera-modelo .btn {
		height: 56px;
	}
}

/* GALERIA*/

.bg-galeria {
	background-image: url('../img/img-galeria-portada.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	margin-top: -94px;
	min-height: 500px;
	height: 70vh;
}
.bg-galeria .masthead {
	min-height: 500px;
	height: 70vh;

	padding-top: calc(2rem + 104px);
}
.meContainer {
	height: 100vh;
}
footer hr {
	display: none;
	border-top: 1px solid #000;
}
.socialMobile {
	display: none;
}
#photos img,
#photos2 img {
	width: 28%;
	float: left;
	display: block;
	margin: 2px;
}

ul#photo-gallery,
ul#photo-gallery2 {
	list-style: none;
	margin: 0px auto;
	/* padding: 10px; */
	/* display: block; */
	/* max-width: 780px; */
	text-align: center;
}
ul#photo-gallery li,
ul#photo-gallery2 li {
	padding: 0 5px;
}
#overlay {
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

#overlay img {
	margin: 10% auto 0;
	width: 550px;
	border-radius: 5px;
}

#photos,
#photos2 {
	width: 100%;
}

.closeGallery {
	position: absolute;
	right: 20px;
	top: 30px;
}

@media (max-width: 991px) {
	.full-menu ul {
		padding-left: 0;
	}
	.full-menu li {
		font-size: 40px;
	}
	/* .videoActress {
		height: 550px;
	} */
	.slick-list {
		margin-left: 35px !important;
		margin-right: 35px !important;
	}

	.masthead {
		padding-top: 45vh;
	}
	.headerContent > div {
		margin-top: 10px !important;
	}
	.headerContent {
		width: 350px;
	}
	.headerContent img {
		width: 100%;
	}
	.bg-cover {
		background-image: url('../img/img-principal-mobile.jpg');
		margin-top: -60px;
	}
	.video-sobre-mi {
		height: 250px;
	}
	.social {
		justify-content: space-around;
	}
	.meText {
		text-align: center;
	}
}

.social {
	padding-bottom: 40px;
}
@media (max-height: 600px) {
	.section-actriz {
		margin-top: 0px;
	}
}

/* MOBILE COMUN */

@media (max-width: 768px) {
	.bg-galeria {
		height: 85vh;
	}
	.bg-galeria .masthead {
		height: 85vh;
	}
	ul#photo-gallery,
	ul#photo-gallery2 {
		padding-left: 0px;
	}
	.btns-wrapper {
		padding-bottom: 50px;
	}
	/* .slick-slider {
		margin-left: 0px;
		margin-right: 0px;
	} */
	.bg-sobre-mi .headerContainer .container {
		margin-top: 4em;
	}
	.section-actriz b {
		font-weight: 300 !important;
		text-decoration: underline !important;
	}
	.section-title {
		font-size: 30px;
		margin-top: 50px;
	}
	.headerContainer {
		padding-top: calc(4rem + 74px) !important;
	}
	.bg-modelo .headerContainer {
		padding-top: calc(8rem + 74px) !important;
	}
	.bg-modelo .section-title {
		font-size: 30px;
		margin-top: 20px;
	}
	.bg-actress .headerContainer {
		padding-top: 80px !important;
	}
	.trabajos-modelo ul {
		margin-left: 30px;
	}

	.me,
	.galleryIndex {
		min-height: auto;
	}
	.btn-transparent {
		margin-top: 25%;
		/* background-color: rgba(255, 255, 255, 0.4);
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-color: black;
		padding: 7px 40px;
		color: black;
		font-size: 18px; */
		width: 233px;
	}
	.social {
		padding-bottom: 0px;
	}
	.meContainer {
		min-height: 75vh;
		height: auto;
	}
	.meText {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.meText .btn {
		width: 90%;
		padding: 15px;
		margin-bottom: 20px;
	}
	.diptico {
		max-height: 500px !important;
		min-height: 0px;
		height: 30vh;
	}
	.contactoBg {
		background: #ffffff;
	}
	.masthead > div {
		justify-content: center;
		align-items: center;
	}
	.headerActressContainer button {
		font-size: 1em;
		padding: 10px 20px;
	}
	.footerNameContainer {
		display: flex;
		justify-content: center;
	}
	.footerName {
		width: 80%;
	}
	.footerContainer {
		flex-direction: column-reverse !important;
	}
	footer hr {
		display: block;
	}
	#goto i {
		display: none;
	}
	#mainNav .navbar-toggler {
		z-index: 2;
	}
	#socialResponsive a {
		font-size: 30px;
		color: white;
	}

	#navbarResponsive {
		position: fixed;
		bottom: 0;
		top: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
	}
	#navbarResponsive ul {
		margin-top: 60px;
		text-align: center;
		width: 210px;
	}
	#navDesktop {
		display: none;
	}
	.slick-prev {
		left: 0 !important;
	}
	.slick-next {
		right: 0 !important;
	}
	.btn-vermasMarcas {
		top: 130px;
	}
	.verticalText h3 {
		margin-top: 120px;
		margin-left: 40px;
	}
}
@media (max-width: 599px) {
	.navbar .container-fluid {
		margin: 10px 15px;
	}

	.headerContent img {
		margin-top: 0;
	}

	.bg-galeria .headerContent img {
		margin-top: 80px;
	}
	.btn-vermasMarcas {
		position: initial;
		margin-top: 30px;
	}
	.bg-sobre-mi,
	.bg-sobre-mi .headerContainer,
	.bg-sobre-mi .masthead {
		max-height: 420px !important;
		min-height: 420px !important;
	}

	.headerContainer button {
		margin-top: 120px;
	}
	.bg-cover {
		margin-top: -80px;
	}
	.textAboutMe {
		padding-top: 50px;
	}
}

@media (max-width: 500px) {
	.headerContent {
		width: 250px;
	}
	.masthead {
		padding-top: 45vh;
	}
	.headerContainer button {
		margin-top: 180px;
		font-size: 1.3em;
	}
	.bg-sobre-mi {
		background-position: 0px -80px;
	}
	.bg-sobre-mi,
	.bg-sobre-mi .headerContainer,
	.bg-sobre-mi .masthead {
		max-height: 450px !important;
		min-height: 320px !important;
	}
	.bg-actress .headerContainer {
		padding-top: 130px !important;
	}
}

@media (max-width: 400px) {
	/* .headerContainer {
		padding-top: calc(-0.8rem + 74px) !important;
	} */
}
/* @media (max-height: 700px) {
	.bg-modelo {
		height: 100vh;
	}
} */

#goto {
	cursor: pointer;
}

.slick-list {
	margin-left: 15px !important;
	margin-right: 15px !important;
}
@media (max-width: 991px) {
	.slick-list {
		margin-left: 35px !important;
		margin-right: 35px !important;
	}
}
button.slick-prev:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	-webkit-text-stroke: 3px white;
	font-size: 30px;
	content: '\f053';
	margin-right: 60px;
	color: #212529 !important;
	opacity: 1 !important;
}
button.slick-next:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	-webkit-text-stroke: 3px white;
	font-size: 30px;
	content: '\f054';
	color: #212529 !important;
	opacity: 1 !important;
}

.galeria button.slick-next:before {
	-webkit-text-stroke: 3px rgb(232, 232, 232);
}
.galeria button.slick-prev:before {
	-webkit-text-stroke: 3px rgb(232, 232, 232);
}

.img-campañas {
	width: 100%;
	height: 415px;
	background-size: cover;
}

.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 15px !important;
	height: 25px !important;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}

#overlay img {
	margin-top: 20px;
	height: 95vh;
	width: auto !important;
}

/* Si esta colapsado */
.btn-text[aria-expanded='false'] span.mas {
	display: block;
}
.btn-text[aria-expanded='false'] span.menos {
	display: none;
}

/* Si NO esta colapsado */
.btn-text[aria-expanded='true'] span.mas {
	display: none;
}
.btn-text[aria-expanded='true'] span.menos {
	display: block;
}

@media (min-height: 778px) and (max-width: 600px) {
	.bg-modelo .headerContainer {
		padding-top: 40vh !important;
	}
}
