@font-face {
	font-family: 'futura medium bt';
	src: url('../fonts/futura medium bt.ttf');
}
@font-face {
	font-family: 'futura condensed';
	src: url('../fonts/Futura Condensed Extra Bold.otf');
}
@font-face {
	font-family: 'scala sans';
	src: url('../fonts/ScalaSans-Regular.otf');
}

body {
	font-family: 'scala sans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section p {
	font-size: 1.25rem;
}

.btn,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'futura medium bt';
	font-weight: 500;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
	color: #5793d3;
}

.headerContent {
	width: 450px;
}

.section-title {
	font-family: 'futura medium bt';
	font-weight: 500;
	font-size: 38px;
	margin-top: 30px;
}

.colorText {
	color: #5793d3;
}
.headerContent p {
	text-transform: uppercase;
}
.bg-cover {
	background: url('../img/img-principal.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.meText .btn {
	width: 142px;
	box-shadow: none;
}

.btns-wrapper {
	margin-top: 70px;
}

.header img {
	width: 100%;
	height: auto;
}

.masthead {
	height: calc(100vh - 200px);
	background: rgba(0, 0, 0, 0.69);
	background: -moz-linear-gradient(
		left,
		rgba(0, 0, 0, 0.69) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -webkit-gradient(
		left top,
		right top,
		color-stop(0%, rgba(0, 0, 0, 0.69)),
		color-stop(100%, rgba(0, 0, 0, 0))
	);
	background: -webkit-linear-gradient(
		left,
		rgba(0, 0, 0, 0.69) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -o-linear-gradient(
		left,
		rgba(0, 0, 0, 0.69) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -ms-linear-gradient(
		left,
		rgba(0, 0, 0, 0.69) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.69) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	z-index: 0;
}
.section {
	margin-top: 80px;
}
.headerContainer {
	padding-top: calc(3rem + 74px) !important;
}
.diptico {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.btn-transparent {
	margin-top: 50%;
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-color: black;
	padding: 10px 70px;
	color: black;
	font-size: 20px;
	width: 212px;
}

.btn-transparent:hover {
	color: white;
	background-color: #5793d3;
}

.video-sobre-mi {
	width: 200px;
	height: 450px;
	object-fit: cover;
}
.polaroidContainer {
	width: 80%;
	transform: rotate(-10deg);
	box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
	border: 4px;
	border-color: #ffffff;
	padding: 20px 20px 60px 20px;
}

.contacto {
	min-height: 75vh;
	height: auto;
}
.contactoBg {
	background-repeat: no-repeat;
	background-size: auto 130%;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 8%,
			rgba(255, 255, 255, 1) 39%
		),
		url('../img/img-footer.jpg');
}
/*  */
.footer-contacto {
	height: 25vh;
}

.footer-contacto img {
	width: auto;
	height: 90px;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
	font-size: 1.2em;
}

.btn-enviar {
	padding: 10px 50px;
	background-color: #ffffff;
	-webkit-box-shadow: 3px 5px 14px -2px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: 3px 5px 14px -2px rgba(0, 0, 0, 0.53);
	box-shadow: 3px 5px 14px -2px rgba(0, 0, 0, 0.53);
}

.wrapper {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* h2{
	font-family:sans-serif;
	color:#fff;
  } */
.carousel, .galeria {
	width: 90%;
	margin: 0px auto;
}
.slick-slide {
	margin: 10px;
}
.slick-slide img {
	width: 100%;
	border: 2px solid #fff;
}

.slick-prev:before,
.slick-next:before {
	color: #ccc !important;
}
.slideBg1,
.slideBg2,
.slideBg3,
.slideBg4,
.slideBg5,
.slideBg6 {
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
	height: 500px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex !important;
	flex-direction: column;
	justify-content: flex-end;
	border: 1px #ccc solid;
}
.slideBg1,
.slideBg4 {
	background-position: top;
	background-image: url('../img/img-actriz.jpg');
}
.slideBg2,
.slideBg5 {
	background-image: url('../img/img-bio.jpg');
}
.slideBg3,
.slideBg6 {
	background-position: left;
	background-image: url('../img/img-galeria-portada.jpg');
}

.sliderText {
	margin-bottom: 0;
	width: 100%;
	padding: 20px 0;
	background: rgba(255, 255, 255, 1);
	font-size: 18px;
	color: #606060;
}

/* SOBRE MI */

.txt-sobre-mi {
	text-transform: uppercase;
	font-family: 'futura medium bt';
	letter-spacing: 4px;
	color: #1f1d1c;
	font-size: 18px;
}

.vh-70 {
	height: 70vh;
}

.sobre-mi-frase {
	font-family: 'futura condensed';
	letter-spacing: 2px;
}

.bg-sobre-mi {
	background-image: url('../img/img-bio.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -250px;
	height: calc(100vh - 200px);
}
@media (max-width: 1200px) {
	.me .container {
		max-width: 90%;
	}
	.polaroidContainer {
	}
	.video-sobre-mi {
		height: 350px;
	}
}
@media (max-width: 1090px) {
	.bg-sobre-mi {
		background-position: top left;
	}
}

/* MODELO*/

.bg-modelo {
	background-image: url('../img/img-modelo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 70vh;
}

.header-sector {
	font-size: 30px;
	margin-top: 35px;
}

.section-botonera {
	background-color: rgba(78, 128, 185, 0.1);
}

hr {
	border-top: 1px solid #1f1d1c;
	margin-top: 60px;
	margin-bottom: 60px;
}

.botonera-modelo {
	padding-top: 25px;
	padding-bottom: 25px;
}

.botonera-modelo .btn {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 30px;
	box-shadow: none;
	border: 1.2px solid #2e8fff;
	width: 100%;
	font-size: 14px;
	background-color: #ffffff;
}

.trabajos-modelo .job-title {
	color: #5793d3;
}

.trabajos-modelo .job-desc {
	display: inline-block;
	line-height: 1.2;
	font-size: 12px;
}

/* Carousel de marcas */

.marcaimg {
	/* height: 230px; */
	width: auto;
}
.marcas-wrapper .slick-dots {
	text-align: left;
}

/* FOOTER COMPARTIDO */

.btn-vermas {
	background-color: #5793d3;
	color: white;

	padding-left: 40px;
	padding-right: 40px;
	position: absolute;
	top: 135px;
	right: 0;
}

.btn-vermas:hover {
	color: white;
}

.aboutMe h2 {
	text-transform: uppercase;
	color: rgba(78, 128, 185, 0.5);
	font-size: 53px;
}
.barTitle {
	margin-right: 10px;
	width: 25px;
	border-top: 1px #000 solid;
	margin-top: 13px;
}
.highlightText {
	color: #4e80b9;
}
.verticalText {
	justify-content: flex-start;
	display: flex;
}

.verticalText h3 {
	letter-spacing: 7px;
	text-transform: uppercase;
	font-size: 35px;
	margin-bottom: 5px;
	transform: rotate(-90deg);
	margin-top: 100px;
}

.cineImg {
	width: 100%;
	height: auto;
}
.galleryContainer {
	margin-top: 100px;
}
.bgGrey {
	background: #e8e8e8;
}

.py-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.py-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.py-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.py-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.text-grey {
	color: rgba(31, 29, 28, 0.6);
}
.headerActressContainer {
	padding-bottom: 80px;
}
.bg-actress {
	height: 70vh;
}
.videoActress {
	position: absolute;
	right: 0;
	bottom: 200px;
	min-width: 100%;
	min-height: 100%;
}
.headerContainer button {
	margin-top: 120px;
	font-size: 2em;
	padding: 10px 40px;
}
.singularVideo video,
.singularVideo h3 {
	width: 50%;
	padding: 30px 20px;
}
.footerName {
	width: 350px;
	padding-top: 20px;
}
.social {
	margin-top: -30px;
	justify-content: space-between;
}

.social-iconos a:hover i {
	color: #5793d3;
}

.textAboutMe {
	max-width: 1100px;
}
@media (max-width: 1023px) {
	.btn-vermas {
		top: 190px;
	}
}
@media (max-width: 1199px) and (min-width: 991px) {
	.botonera-modelo .btn {
		height: 56px;
	}
}

/* GALERIA*/

.bg-galeria {
	background-image: url('../img/img-galeria-portada.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* height: 70vh; */
}
.meContainer {
	height: 100vh;
}
footer hr {
	display: none;
	border-top: 1px solid #000;
}
.socialMobile {
	display: none;
}
#photos img {
	width: 28%;
	float: left;
	display: block;
	margin: 2px;
}

ul#photo-gallery {
	list-style: none;
	margin: 0px auto;
	padding: 10px;
	display: block;
	max-width: 780px;
	text-align: center;
}

#overlay {
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

#overlay img {
	margin: 10% auto 0;
	width: 550px;
	border-radius: 5px;
}

#photos {
	width: 100%;
}

#photo-gallery {
	width: 100%;
}
.closeGallery {
	position: absolute;
	right: 20px;
	top: 30px;
}

@media (max-width: 991px) {
	.slick-list {
		margin-left: 35px!important;
		margin-right: 35px!important;
	}
	.section-actriz{
		margin-top:0px
	}
	.masthead {
		padding-top: 45vh;
	}
	.headerContent > div {
		margin-top: 10px !important;
	}
	.headerContent {
		width: 350px;
	}
	.headerContent img {
		width: 100%;
	}
	.bg-cover {
		background-image: url('../img/img-principal-mobile.jpg');
	}
	.video-sobre-mi {
		height: 250px;
	}
	.social {
		justify-content: space-around;
	}
}

@media (max-width: 768px) {
	
	.meContainer {
		min-height: 75vh;
		height: auto;
	}
	.meText {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.meText .btn {
		width: 90%;
		padding: 15px;
		margin-bottom: 20px;
	}
	.diptico {
		max-height: 500px !important;
	}
	.contactoBg {
		background: #ffffff;
	}
	.masthead > div {
		justify-content: center;
		align-items: center;
	}

	.footerNameContainer {
		display: flex;
		justify-content: center;
	}
	.footerName {
		width: 80%;
	}
	.footerContainer {
		flex-direction: column-reverse !important;
	}
	footer hr {
		display: block;
	}
	#goto i {
		display: none;
	}
	#mainNav .navbar-toggler {
		z-index: 2;
	}
	#socialResponsive a {
		font-size: 30px;
		color: white;
	}

	#navbarResponsive {
		position: fixed;
		bottom: 0;
		top: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
	}
	#navbarResponsive ul {
		margin-top: 60px;
		text-align: center;
		width: 210px;
	}
	#navDesktop {
		display: none;
	}
	.slick-prev {
		left: 0 !important;
	}
	.slick-next {
		right: 0 !important;
	}
	.btn-vermas {
		top: 130px;
	}
}
@media (max-width: 599px) {
	.btn-vermas {
		position: initial;
		margin-top: 30px;
	}
}
@media (max-width: 500px) {
	.headerContent {
		width: 250px;
	}
	.masthead {
		padding-top: 45vh;
	}
}

#goto {
	cursor: pointer;
}

.slick-list {
	margin-left:15px!important;
	margin-right:15px!important;
}
@media (max-width: 991px) {
	.slick-list {
		margin-left: 35px!important;
		margin-right: 35px!important;
	}
}
button.slick-prev:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	-webkit-text-stroke: 3px white;
	font-size: 30px;
	content: '\f053';
	margin-right: 60px;
	color:#212529!important;
	opacity:1!important;
}
button.slick-next:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	-webkit-text-stroke: 3px white;
	font-size: 30px;
	content: '\f054';
	color:#212529!important;
	opacity:1!important;
}

.galeria button.slick-next:before {
	-webkit-text-stroke: 3px rgb(232, 232, 232);
}
.galeria button.slick-prev:before {
	-webkit-text-stroke: 3px rgb(232, 232, 232);
}